<appSettings>
	<add key="ApplicationDirectory" value="C:\Logs\"/>
	<add key="EncryptionDirectory" value="C:\Logs\Encrypted\"/>
	<add key="ErrorDirectory" value="C:\Logs\Errors\"/>
	<add key="TessarecDirectory" value="C:\Program Files (x86)\Tesseract-OCR\tessdata\"/>
	<add key="DeleteUnencryptedFiles" value ="TRUE"/>
</appSettings>