/WindowsFormsApp1/DatabaseLayer/obj
/WindowsFormsApp1/DatabaseLayer/bin
/WindowsFormsApp1/Database/obj
/WindowsFormsApp1/Database/bin
/WindowsFormsApp1/WindowsFormsApp1/obj
/WindowsFormsApp1/WindowsFormsApp1/bin
/WindowsFormsApp1/WindowsFormsApp2/obj
/WindowsFormsApp1/WindowsFormsApp2/bin
/.vs
/packages
/src/WebApi/bin
/src/WebApi/obj
