<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{ title }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div #uploadButton class="btn btn-sm btn-secondary" (click)="uploadDocument()">
        Upload Document
      </div>
    </div>
  </div>
  <input #documentInput id="documents" class="form-control hidden" type="file" multiple accept=".pdf, .jpg, .tif, .png"
    (input)="onInput($event)" />
  <app-document-viewer fileName="{{title}}" source="{{ imageSource }}"></app-document-viewer>
</div>
