canvas {
  border: 1px solid #000;
  background-color: white;
}

.canvasHolder {
  display: flex;
  padding: 10px;
  overflow: auto;
  flex-direction: row;
  background: #ece6ec;
}

.legends {
  min-width: 200px;
  background: #c3cfdd;
  overflow-y: scroll;
  height: 85vh;
}
.header {
  background: #e1dfe0;
}

.coordinate {
  font-size: xx-small;
  position: relative;
  height: 20px;
  left: 50%;
  background: transparent;
  padding: 2px;
  background: s;
}

.activeRegion {
  padding: 2px;
  border: 1px solid black;
}
