<appSettings>
  <add key="ApplicationDirectory" value="C:\Logs\"/>
  <add key="EncryptionDirectory" value="C:\Logs\Encrypted\"/>
  <add key="ErrorDirectory" value="C:\Logs\Errors\"/>
  <add key="TessarecDirectory" value="C:\Program Files (x86)\Tesseract-OCR\tessdata"/>
  <add key="DeleteUnencryptedFiles" value ="true"/>
  <add key="Host" value= "smtp.sendgrid.net"/>
  <add key="SmtpPort" value="25"/>
  <add key="ApiKey" value="Good Luck for finding this"/>
  <add key="UseEmail" value="true"/>
  <add key="EmailSubject" value="Payslip"/>
  <add key="EmailMessage" value="Please use your first 6 digits of your Id Number to unlock the file"/>
</appSettings>