<appSettings>
	<add key="ApplicationDirectory" value="C:\Logs\"/>
	<add key="EncryptionDirectory" value="C:\Logs\Encrypted\"/>
	<add key="ErrorDirectory" value="C:\Logs\Errors\"/>
	<add key="TessarecDirectory" value="C:\Program Files (x86)\Tesseract-OCR\tessdata"/>
	<add key="DeleteUnencryptedFiles" value ="true"/>

	<add key="UseEmail" value="true"/>

	<add key = "FromEmailAddress" value="Ruan.devilliers@absolutesys.com"/>

	<add key ="EmailClientName" value="Office365"/>
	<add key = "Host" value= "smtp.office365.com"/>
	<add key = "SmtpPort" value="587"/>
	<add key = "ApiKey" value="I_DONT_KNOW"/>
	<add key = "EmailSubject" value="Payslip"/>
	<add key = "EmailMessage" value="Please use your first 6 digits of your Id Number to unlock the file"/>


</appSettings>