<appSettings>
  <add key="ApplicationDirectory" value="C:\Logs\"/>
  <add key="EncryptionDirectory" value="C:\Logs\Encrypted\"/>
  <add key="ErrorDirectory" value="C:\Logs\Errors\"/>
  <add key="TessarecDirectory" value="C:\Program Files\Tesseract-OCR\tessdata"/>
  <add key="DeleteUnencryptedFiles" value ="TRUE"/>
  <add key="Host" value= "smtp.sendgrid.net"/>
  <add key="SmtpPort" value="25"/>
  <add key="ApiKey" value="Good Luck for finding this"/>
</appSettings>